{% extends "base.html" %}

{% block title %}Accueil - WetTheCat{% endblock %}

{% block content %}
<div class="container index-page">
      <h1>Bienvenue, {{ user.username }}!</h1>
      <a href="/stream" class="button">LIVE</a>

      <h2>Derniers enregistrements</h2>
      <ul class="liste-videos">
            {% for vid in videos %}
            <li>
                  <!-- <strong>{{ vid.filename }}</strong> -->
                  <br>
                  <a href="/records/video/{{ vid.filename }}" target="_blank">{{ vid.filename }}</a>
                  |
                  <!-- Lien ou formulaire pour archiver -->
                  <a href="/archive?filename={{ vid.filename }}">Archiver</a>
            </li>
            {% endfor %}
      </ul>
</div>
{% endblock %}