{% extends "base.html" %}

{% block title %}Profil - WetTheCat{% endblock %}

{% block content %}
<div class="container">
      <h2>Votre Profil</h2>
      <div id="profile-info">
            <p><strong>ID:</strong> <span id="user-id"></span></p>
            <p><strong>Username:</strong> <span id="user-username"></span></p>
            <p><strong>Email:</strong> <span id="user-email"></span></p>
      </div>
</div>

<script>
      async function fetchUserInfo() {
            const response = await fetch('/users/me', {
                  method: 'GET',
                  headers: {
                        'Content-Type': 'application/json',
                  },
                  credentials: 'include', // Important pour inclure les cookies
            });

            if (response.ok) {
                  const data = await response.json();
                  document.getElementById('user-id').textContent = data.id;
                  document.getElementById('user-username').textContent = data.username;
                  document.getElementById('user-email').textContent = data.email;
            } else {
                  window.location.href = '/login';
            }
      }

      // Charger les informations de l'utilisateur au chargement de la page
      window.onload = fetchUserInfo;
</script>
{% endblock %}