{% extends "base.html" %}

{% block title %}Stream - WetTheCat{% endblock %}

{% block content %}
<div class="container stream-page">
      <h2>LIVE</h2>
      <video id="video" controls autoplay muted></video>
</div>

<!-- Inclure hls.js depuis un CDN -->
<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<script>
      const video = document.getElementById('video');
      const videoSrc = "{{ stream_url }}";

      if (Hls.isSupported()) {
            const hls = new Hls();
            hls.loadSource(videoSrc);
            hls.attachMedia(video);
            hls.on(Hls.Events.MANIFEST_PARSED, function () {
                  video.play();
            });
      }
      else if (video.canPlayType('application/vnd.apple.mpegurl')) {
            video.src = videoSrc;
            video.addEventListener('loadedmetadata', function () {
                  video.play();
            });
      }
</script>
{% endblock %}